In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Analysis').getOrCreate()

In [3]:
sc = spark.sparkContext

In [6]:
rdd = sc.textFile("/content/house_apartment_cleaned_data.xls")

In [7]:
rdd.take(5)

['2070,house,house,120000,3,0,0,0,0,None,None',
 '2321,house,house,530000,4,1,0,1,0,None,1972',
 '9000,house,house,568000,3,0,1,0,0,None,2021',
 '2560,house,house,576000,3,1,1,1,0,None,1983',
 '8400,house,house,569000,4,0,0,1,0,good,1991']

In [8]:
data_rdd = rdd.map(lambda row: row.split(","))

In [9]:
data_rdd.take(5)

[['2070', 'house', 'house', '120000', '3', '0', '0', '0', '0', 'None', 'None'],
 ['2321', 'house', 'house', '530000', '4', '1', '0', '1', '0', 'None', '1972'],
 ['9000', 'house', 'house', '568000', '3', '0', '1', '0', '0', 'None', '2021'],
 ['2560', 'house', 'house', '576000', '3', '1', '1', '1', '0', 'None', '1983'],
 ['8400', 'house', 'house', '569000', '4', '0', '0', '1', '0', 'good', '1991']]

### 13. Retrieve all prices of all Renovated houses

In [10]:
renovated_houses = data_rdd.filter(lambda row: row[9] is not None and row[9].strip().lower() == "just renovated").map(lambda row: ((row[0], row[1], row[2]), row[3]))

In [11]:
renovated_houses.count()

2550

In [12]:
renovated_houses.take(10)

[(('9690', 'house', 'mixed use building'), '630000'),
 (('9404', 'house', 'house'), '670000'),
 (('8840', 'house', 'villa'), '750000'),
 (('4430', 'apartment', 'apartment'), '189000'),
 (('2600', 'apartment', 'duplex'), '495000'),
 (('1190', 'apartment', 'penthouse'), '630000'),
 (('6220', 'house', 'house'), '105000'),
 (('6769', 'house', 'house'), '186000'),
 (('2800', 'house', 'house'), '269000'),
 (('7534', 'house', 'house'), '269000')]

In [14]:
renovated_houses.coalesce(1).saveAsTextFile("/content/Prices_of_JustRenovated_houses.txt")

In [13]:
renovated_houses.saveAsTextFile("/content/Prices_of_All_Renovated_houses.txt")